{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
<link href="https://fonts.googleapis.com/css?family=Exo+2:200,300,400&display=swap" rel="stylesheet">
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js"></script>
  <script src="/static/js/index.js"></script>

{% endblock %}


{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 nowrap">
      <div id="tl" class="quad">
        <img class="logo" src="/static/Odyne-Logo-Light.png" />
      </div>
      <div id="tr" class="quad">
        <img class="arrow right" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_up_48px-512.png" />
        <div class="content center">
          <div>
            <div class="row">
              <div class="col-sm-6">
                <h1>Enabling Space On Demand</h1>
                <p>Odyne Space has designed a next generation launch vehicle that will enable frequent and affordable orbital launches for the micro- and nano-satellite market.</p>
              </div>
              <div class="col-sm-6">
                <h2>Capabilities</h2>
                <p>We provide dedicated launches with a payload capacity of 100kg for Sun-Syncronous Orbits up to 600km and up to 150kg for Low to Mid Latitude, Low Earth Orbits.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <img class="fullwidth" src="/static/trajectory.png"/>
              </div>
              <div class="col-sm-6">
                <div class="row flex">
                  <!-- <div class="col-xs-1 thin">
                    <div class="vertical">
                      <p>Altitude [km]</p>
                    </div>
                  </div> -->
                  <div class="col-xs-12 thin">
                    <div>
                      <img class="fullwidth" src="/static/output-onlinepngtools.png"/>
                      <!-- <p class="centered">Inclination [deg]</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 nowrap">
      <div id="bl" class="quad">
        <img class="arrow" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_up_48px-512.png" />
        <div class="content team">
          <div class="row">
            <div class="col-xs-4">
              <div class="row">
                <div class="col-xs-12 nowrap">
                  <div id="eric" class="person">
                    <img src="../static/eric_ward.jpg"/>
                  </div>
                  <div id="andrew" class="person">
                    <img src="../static/andrew_greenburg.jpg"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 nowrap">
                  <div id="john" class="person">
                    <img src="../static/john_karabaic.png"/>
                  </div>
                  <div id="loren" class="person">
                    <img src="../static/loren_sheets.jpg"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 nowrap">
                  <div id="natalya" class="person">
                    <img src="../static/natalya_bailey.jpg"/>
                  </div>
                  <div id="shari" class="person">
                    <img src="../static/shari_loessberg.jpg"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="people">
                <div class="name">
                  <h2 class="eric">Eric Ward <span>CEO</span></h2>
                </div>
                <div class="bio">
                  <p class="eric">Eric Ward is an experienced Systems Architect who sees growing the space industry as the next step to progressing humanity beyond the planet.
                    He recently received a Master's degree in Systems Design and Management from MIT, has published multiple technical documents on
                    <a href="https://www.researchgate.net/publication/296847016_A_METHOD_TO_EVALUATE_ARCHITECTURAL_COMPARISONS_FOR_A_CAMPAIGN_TO_EXPLORE_THE_SURFACE_OF_MARS" target="_blank">Systems Architecture</a> and the
                    <a href="https://www.researchgate.net/publication/303720798_A_Socio-Technical_Systems_Analysis_of_Change_Processes_in_the_Design_of_Flagship_Interplanetary_Missions?ev=prf_pub" target="_blank">Space</a>
                    <a href="https://www.researchgate.net/publication/296847018_Engineering_Change_Activity_Analysis_of_Space_Mission_Projects?ev=prf_pub" target="_blank">Industry</a>, has been featured in
                    <a href="http://www.fastcompany.com/3058795/the-next-frontier-for-ambitious-entrepreneurs-space" target="_blank">Fast Company</a>, and co-founded the
                    <a href="http://newspaceage.squarespace.com/" target="_blank">MIT New Space Age Conference</a>. He also holds a Bachelor’s Degree in Mechanical Engineering.<br><br>
                    His <a href="https://www.amazon.com/Man-Who-Loved-Only-Numbers/dp/0786884061" target="_blank">Erdős</a> number is 4.
                  </p>
                </div>
              </div>
              <div class="people">
                <div class="name">
                  <h2 class="andrew">Andrew Greenberg <span>CTO</span></h2>
                </div>
                <div class="bio">
                  <p class="andrew">
                    Andrew Greenberg is an embedded systems expert, and serial entrepreneur having co-founded and led
                      <a href="http://www.apdm.com/" target="_blank">two profitable</a>
                      <a href="http://www.tovatest.com/" target="_blank">small companies</a> in the Medical Device industry. Andrew is also an Associate professor at Portland State University, and is the founder of the
                      <a href="http://psas.pdx.edu/" target="_blank">Portland State Aerospace Society</a>, which touts the most sophisticated avionics in amateur rocketry.
                  </p>
                </div>
              </div>
              <div class="people">
                <div class="name">
                  <h2 class="john">John Karabaic <span>Business Development</span></h2>
                </div>
                <div class="bio">
                  <p class="john">
                    John Karabaic is a veteran of the USAF and many startups. He has dual degrees in Electrical Engineering & Physics from MIT. John worked in technical sales for most of his career, prior to recently moving into product management.
                  </p>
                </div>
              </div>
              <div class="people">
                <div class="name">
                  <h2 class="loren">Loren Sheets <span>Lead Software Engineer</span></h2>
                </div>
                <div class="bio">
                  <p class="loren">
                    Loren Sheets is an experienced designer and programmer, and is responsible for the development of Odyne's proprietary software systems that optimize all aspects of launch vehicle design and mission planning. He is the developer behind
                      <a href="https://www.flippening.watch" target="_blank">Flippening Watch</a>, a prominent cryptocurrency metrics platform. He has a degree in Health Sciences, and is also an accomplished audio engineer with
                      <a href="http://alphasound.org" target="_blank">Alpha Sound</a>.
                  </p>
                </div>
              </div>
              <div class="people">
                <div class="name">
                  <h2 class="natalya">Natalya Bailey <span>Advisor</span></h2>
                </div>
                <div class="bio">
                  <p class="natalya">
                    Natalya Bailey is the co-founder and CEO of <a href="https://www.accion-systems.com/" target="_blank">Accion Systems</a>, who are working to make space more affordable and accessible as a leader in high-quality, affordable propulsion technologies. Natalya has previously worked on one form of propulsion or another for over 10 years, and as a program manager of a $1.5MM propulsion program, as a systems engineer during her time at Aurora Flight Sciences, and as a founder of a previous space propulsion company.
                  </p>
                </div>
              </div>
              <div class="people">
                <div class="name">
                  <h2 class="shari">Shari Loessberg <span>Advisor</span></h2>
                </div>
                <div class="bio">
                  <p class="shari">
                    Shari Loessberg is a Senior Lecturer in Technological Innovation, Entrepreneurship, and Strategic Management at the MIT Sloan School of Management. She is an experienced entrepreneur in established and emerging markets. In the United States, she founded and runs Big World, a strategy firm focused on new ventures in new markets. She also co-founded Zeta Networks, an optical networking firm built on technology developed at MIT. She holds an AB from Georgetown University and a JD from the University of Texas.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="br" class="quad">
        <img class="arrow" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_up_48px-512.png" />
        <div class="content contact">
          <div class="press">
            <div class="row">
              <h5>IN THE NEWS</h5>
              <div class="col-xs-0 col-sm-1"></div>
              <div class="col-xs-6 col-sm-5">
                <a href="https://www.fastcompany.com/3058795/the-next-frontier-for-ambitious-entrepreneurs-space" target="_blank">
                  <img src="../static/fast-company-1.png"/>
                </a>
              </div>
              <div class="col-xs-6 col-sm-5">
                <a href="http://www.geektime.com/2017/03/01/forget-spacex-10-companies-that-will-change-space-travel-in-2017-2018/" target="_blank">
                  <img src="../static/Geektime-logo.png"/>
                </a>
              </div>
              <div class="col-xs-0 col-sm-1"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-0 col-sm-1"></div>
            <div class="col-xs-12 col-sm-4 form">
              <h3>Contact Us</h3>
              <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="submit" value="Submit"/>
              </form>
            </div>
            <div class="col-xs-0 col-sm-1"></div>
            <div class="col-xs-0 col-sm-6">
              <p>Email: <a href="emailto:inquiries@odynespace.com">inquiries@odynespace.com</a> &emsp; Phone: +1 (503) 781-9273</p>
              <p>221 SE Ankeny St. Ste. PIE Shop, Portland, OR 97214</p>
              <div id="map_container">
                <div id="map"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
