{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/rocket_design.css"/>
<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-5 right">

      <div class="row">
        <div class="col-xs-12" style="margin-top: 60px">
          <p>Odyne Space Houndstooth v1.0</p>
          <p>Height: 13.15 m</p>
          <p>Wet Mass: 7,767 kg </p>
          <p>Burn time: 358.2 s</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" style="margin-top: 70px">
          <p>Payload Capacity</p>
          <p>500 x 500 km Polar: 67 kg</p>
          <p>500 x 500 km 28&#186;: 67 kg</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" style="margin-top: 170px">
          <p>Stage 2</p>
          <p>Dry mass: 192 kg</p>
          <p>Wet mass: 2,018 kg</p>
          <p>t/w ratio: 1.4</p>
          <p>Burn time: 205.4 s</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" style="margin-top: 180px">
          <p>Interstage</p>
          <p>Height: 1.4 m</p>
          <p>Mass: 10 kg</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" style="margin-top: 300px">
          <p>Stage 1</p>
          <p>Dry mass: 315 kg</p>
          <p>Wet mass: 4,422 kg</p>
          <p>t/w ratio: 1.25</p>
          <p>Burn time: 152.8 s</p>
        </div>
      </div>

    </div>

    <div class="col col-xs-2 center">
      <img src="../static/houndstooth.svg"/>
    </div>

    <div class="col-xs-5 left">
      <p>asdf</p>
    </div>

  </div>
</div>

{% endblock %}
