{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/rocket_design.css"/>
<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="/static/js/design.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.5.0/papaparse.js"></script>

{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-4 col-sm-5 right">

      <div class="row">
        <div class="col-xs-10 _1">
          <p class="section">Odyne Space Houndstooth v1.0</p>
          <p>Height: 11.64 m</p>
          <p>Diameter: 1.05 m</p>
          <p>Wet Mass: 7,258 kg </p>
          <p>Burn time: 358.8 s</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-10 _2">
          <p class="section">Payload Capacity</p>
          <p>500 x 500 km Polar: 104 kg</p>
          <p>500 x 500 km 28&#186; Inclination: 140 kg</p>
        </div>
        <div class="col-xs-1 l-brackets _3"></div>
      </div>

      <div class="row fade">
        <div class="col-xs-10 _4">
          <p class="section">Stage 2</p>
          <p>Dry mass: 224.5 kg</p>
          <p>Wet mass: 1,994.5 kg</p>
          <p>t/w ratio: 1.34</p>
          <p>Burn time: 210.7 s</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-10 _5">
          <p class="section">Interstage</p>
          <p>Height: 1.4 m</p>
          <p>Mass: 10 kg</p>
        </div>
        <div class="col-xs-1 l-brackets _6"></div>
      </div>

      <div class="row fade">
        <div class="col-xs-10 _7">
          <p class="section">Stage 1</p>
          <p>Dry mass: 287 kg</p>
          <p>Wet mass: 5,263.8 kg</p>
          <p>t/w ratio: 1.25</p>
          <p>Burn time: 148.1 s</p>
        </div>
      </div>

      <img class="human" style="display: block; margin: 0 auto;" src="../static/human.svg"/>


    </div>

    <div class="col-xs-4 col-sm-2 center">
      <img class="rocket" src="../static/houndstooth.svg"/>
    </div>

    <div class="col-xs-4 col-sm-5 left">

      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 272px; margin-top: 153px"></div>
        <div class="col-xs-10" style="margin-top: 250px; margin-bottom: 120px">
          <p class="section">Fairing</p>
          <p>Dimensions: 1.1 x 1.7 m</p>
          <p>Mass: 30 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 190px; margin-top: -30px"></div>
        <div class="col-xs-10" style="margin-bottom: 90px">
          <p class="section">Stage 2 Lox Tank</p>
          <p>Height: 1.5 m</p>
          <p>Lox Mass: 1,211.6 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 150px; margin-top: -16px"></div>
        <div class="col-xs-10" style="margin-bottom: 70px">
          <p class="section">Stage 2 Fuel Tank</p>
          <p>Height: 0.84 m</p>
          <p>Fuel Mass: 558.3 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 112px"></div>
        <div class="col-xs-10" style="margin-bottom: 280px">
          <p class="section">Stage 2 Engine</p>
          <p>1x Hadley Vac</p>
          <p>Isp: 318</p>
          <p>Thrust: 27.7 kn</p>
          <p>Mass: 22.2 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 720px; margin-top: -310px"></div>
        <div class="col-xs-10" style="margin-bottom: 450px">
          <p class="section">Stage 1 Lox Tank</p>
          <p>Height: 3.84 m</p>
          <p>Lox Mass: 3,406.9 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 450px; margin-top: -125px"></div>
        <div class="col-xs-10" style="margin-bottom: 256px">
          <p class="section">Stage 1 Fuel Tank</p>
          <p>Height: 2.36 m</p>
          <p>Fuel Mass: 1,570 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 112px"></div>
        <div class="col-xs-10" style="margin-bottom: 0px">
          <p class="section">Stage 1 Engines</p>
          <p>4x Hadley Vac</p>
          <p>Isp: 273</p>
          <p>Thrust: 95.2 kn</p>
          <p>Mass: 88.8 kg</p>
        </div>
      </div>

    </div>

  </div>


  <div class="row">
    <div class="col-xs-12">
      <h1>Launch Simulation + Trajectory Plot</h1>
    </div>
    <div class="col-xs-12">
      <div id="tester" style="display: block; margin: 0 auto; width: 90vw; height: 60vw;">
        <script src="static/js/plot.js"></script>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <h1 style="margin-top: 10px !important">Estimated Performance</h1>
  </div>
  <div class="col-xs-12">
    <img src="/static/performance_plot_1.png" style="display: block; margin: 0 auto 100px auto; width: 95vw; height: auto"/>
  </div>
</div>



{% endblock %}
