{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/rocket_design.css"/>
<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="/static/js/design.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.5.0/papaparse.js"></script>

{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-5 right">

      <div class="row">
        <div class="col-xs-10" style="margin-top: 60px; margin-bottom: 35px">
          <p class="section">Odyne Space Houndstooth v1.0</p>
          <p>Height: 13.15 m</p>
          <p>Diameter: 1.05 m</p>
          <p>Wet Mass: 7,767 kg </p>
          <p>Burn time: 358.2 s</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-10" style="margin-bottom: 170px">
          <p class="section">Payload Capacity</p>
          <p>500 x 500 km Polar: 67 kg</p>
          <p>500 x 500 km 28&#186; Inclination: 95 kg</p>
        </div>
        <div class="col-xs-1 l-brackets" style="height: 114px; margin-top: -20px"></div>
      </div>

      <div class="row fade">
        <div class="col-xs-10" style="margin-bottom: 145px">
          <p class="section">Stage 2</p>
          <p>Dry mass: 192 kg</p>
          <p>Wet mass: 2,018 kg</p>
          <p>t/w ratio: 1.4</p>
          <p>Burn time: 205.4 s</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-10" style="margin-bottom: 335px">
          <p class="section">Interstage</p>
          <p>Height: 1.4 m</p>
          <p>Mass: 10 kg</p>
        </div>
        <div class="col-xs-1 l-brackets" style="height: 260px; margin-top: -80px"></div>
      </div>

      <div class="row fade">
        <div class="col-xs-10" style="margin-bottom: 463px">
          <p class="section">Stage 1</p>
          <p>Dry mass: 315 kg</p>
          <p>Wet mass: 4,422 kg</p>
          <p>t/w ratio: 1.25</p>
          <p>Burn time: 152.8 s</p>
        </div>
      </div>

      <img style="display: block; margin: 0 auto;" src="../static/human.svg"/>


    </div>

    <div class="col-xs-2 center">
      <img src="../static/houndstooth.svg"/>
    </div>

    <div class="col-xs-5 left">

      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 272px; margin-top: 153px"></div>
        <div class="col-xs-10" style="margin-top: 250px; margin-bottom: 120px">
          <p class="section">Fairing</p>
          <p>Dimensions: 1.1 x 1.7 m</p>
          <p>Mass: 30 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 190px; margin-top: -30px"></div>
        <div class="col-xs-10" style="margin-bottom: 90px">
          <p class="section">Stage 2 Lox Tank</p>
          <p>Height: 1.68 m</p>
          <p>Lox Mass: 1,250 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 150px; margin-top: -16px"></div>
        <div class="col-xs-10" style="margin-bottom: 70px">
          <p class="section">Stage 2 Fuel Tank</p>
          <p>Height: 0.95 m</p>
          <p>Fuel Mass: 576 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 112px"></div>
        <div class="col-xs-10" style="margin-bottom: 280px">
          <p class="section">Stage 2 Engine</p>
          <p>1x Hadley Vac</p>
          <p>Isp: 318</p>
          <p>Thrust: 27.7 kn</p>
          <p>Mass: 22.2 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 720px; margin-top: -310px"></div>
        <div class="col-xs-10" style="margin-bottom: 450px">
          <p class="section">Stage 1 Lox Tank</p>
          <p>Height: 4.58 m</p>
          <p>Lox Mass: 3,720.5 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 450px; margin-top: -125px"></div>
        <div class="col-xs-10" style="margin-bottom: 256px">
          <p class="section">Stage 1 Fuel Tank</p>
          <p>Height: 2.84 m</p>
          <p>Fuel Mass: 1,714.5 kg</p>
        </div>
      </div>

      <div class="row fade">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 r-brackets" style="height: 112px"></div>
        <div class="col-xs-10" style="margin-bottom: 0px">
          <p class="section">Stage 1 Engines</p>
          <p>4x Hadley Vac</p>
          <p>Isp: 273</p>
          <p>Thrust: 95.2 kn</p>
          <p>Mass: 88.8 kg</p>
        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>Launch Simulation + Trajectory Plot</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="tester" style="display: block; margin: 0 auto; width: 90vw; height: 60vw;">
        <script src="static/js/plot.js"></script>
      </div>
    </div>
  </div>
</div>

{% endblock %}
