* {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em !important;
  text-transform: uppercase;
}

[class*='col-xs'] { /* contains col-lg in class name */
  padding: 0 !important;
}

h1 {
  font-size: 2em !important;
  text-align: center;
  margin-top: 100px;
}

p {
  font-size: 1.3em !important;
}

.container-fluid {
  margin-bottom: 150px !important;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left p {
  text-align: left;
  margin: 0;
  padding-left: 15px;
}

.right p {
  text-align: right;
  margin: 0;
  padding-right: 15px;
}

.section {
  margin-bottom: 1vh !important;
  border-bottom: 1px dotted #ccc;
}

.l-brackets, .r-brackets {
  width: 5% !important;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}

.l-brackets { border-left: 1px dotted #ccc; }
.r-brackets { border-right: 1px dotted #ccc; }


footer {
  font-size: 0.5em !important;
}
