html, body {
  font-family: 'Rajdhani', sans-serif;
}



.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left {
  text-align: left;
  margin: 0 0 0 5vw;
}

.right {
  text-align: right;
  margin: 0 5vw 0 0;
}
