* {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em !important;
  text-transform: uppercase;
}
footer { font-size: 0.5em !important; }

[class*='col-xs'] { padding: 0 !important; }
[class*='col-sm'] { padding: 0 !important; }

h1 {
  font-size: 2em !important;
  text-align: center;
  margin-top: 100px !important;
}

p { font-size: 0.5em !important; }

.container-fluid { margin-bottom: 150px !important; }

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left p {
  text-align: left;
  margin: 0;
  padding-left: 15px;
}

.right p {
  text-align: right;
  margin: 0;
  padding-right: 15px;
}

.section {
  margin-bottom: 1vh !important;
  border-bottom: 1px dotted #ccc;
}

.l-brackets, .r-brackets {
  width: 5% !important;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}

.l-brackets { border-left: 1px dotted #ccc; }
.r-brackets { border-right: 1px dotted #ccc; }

img.rocket { margin-top: 133px; height: 1000px; }


data:nth-of-type(1) {
  margin-top: 60px;
  margin-bottom: 35px;
}

data:nth-of-type(2) { margin-bottom: 170px }
data:nth-of-type(3) { margin-bottom: 145px }
data:nth-of-type(4) { margin-bottom: 335px }
data:nth-of-type(5) { margin-bottom: 463px }





/* media queries */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Mobile portrait */
@media (orientation: portrait) {


}

/* Mobile landscape */
@media (orientation: landscape) {


}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  img.rocket { height: auto; }

  p { font-size: 1.3em !important; }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
